<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <title>Hakkımızda</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-danger" href="../index.html">Müzik Dükkanım</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Ana sayfa<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/products.html">Ürünlerimiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/about.html">Hakkımızda</a>
                </li>
            </ul>
        </div>
    </nav>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, fuga.</p>
    <h3 class="info">Vizyonumuz</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam amet, esse eum repellat ab quam error corporis reprehenderit eius aut voluptatibus voluptates at quisquam recusandae officiis debitis sed, autem dolores!
    Libero quisquam velit voluptatum nemo quas nisi sunt. Nam explicabo fugiat dicta et perspiciatis debitis. Iste, atque rem. Eveniet voluptas eaque numquam fugit illum nihil possimus quod quas corporis quae.
    Sapiente sed blanditiis dolore maiores, nulla obcaecati aliquam dolorem nam praesentium adipisci officiis eaque eligendi unde minus illum assumenda tenetur odio! Quae nam debitis perferendis, eos sunt magnam inventore cum.
    Corporis, asperiores. Illum labore corrupti perspiciatis iusto perferendis temporibus vitae reiciendis dolorem doloribus libero! Corrupti velit eos aspernatur, repellat eligendi quos ab libero. Recusandae earum commodi non ad quaerat similique.
    Assumenda hic rem saepe. Quo laboriosam quae vero tempora inventore accusantium quas nesciunt, omnis quaerat corrupti corporis ex ad iusto suscipit accusamus. Omnis debitis soluta id alias. Expedita, eum alias.</p>
    <h3 class="info">Misyonumuz</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim id facilis, veritatis debitis modi doloremque, nihil cumque exercitationem praesentium ipsa laudantium veniam temporibus omnis, qui voluptas quae repellendus animi sunt!
    Voluptatum, odio inventore nisi suscipit beatae laboriosam tempore, quaerat eaque eligendi, laborum aliquam ex sapiente? Porro omnis officiis molestiae, quam, quo laborum voluptate rem suscipit beatae atque vero doloribus dolores!
    Ipsum soluta vitae quia dignissimos reprehenderit, esse nisi animi ab amet deserunt sed quidem qui. Sapiente inventore illum dignissimos! Saepe tenetur id consequuntur alias ducimus repellat ipsa? Fugit, velit quam.
    Facilis, temporibus. Facilis maxime quae, repudiandae optio eum veritatis blanditiis neque eveniet quas consequatur adipisci doloremque similique eaque modi sunt aliquam quaerat, magnam hic repellat vero animi. Ab, esse atque!
    Omnis provident odio ullam, et iure laudantium autem sit enim! Soluta officiis quo suscipit, itaque hic aperiam, esse unde quos dignissimos quod error architecto sit sed excepturi. Delectus, tempora esse.</p>
</body>
</html>